/* Sidebar Container */
.sidebar {
    width: 180px;
    background-color: #ffffff; /* Dark blue background */
    height: 100vh;
    position: relative;
}

/* Sidebar Items */
.sidebar-item {
    padding: 10px 15px;
    color: #064022;
    cursor: pointer;
    border-bottom: 1px solid #ffffff; /* Slightly lighter blue for separation */
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-item:hover {
    background-color: #ffffff; /* Hover effect with a slightly lighter blue */
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: #ffffff; /* Background for dropdown menu */
    margin-left: 15px;
    margin-top: 5px;
    border-left: 2px solid #ffffff;
    padding-left: 10px;
}

/* Sidebar Subitems (Dropdown Items) */
.sidebar-subitem {
    padding: 8px 15px;
    color: #064022; /* Light grey for subitems */
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #eee;
}

.sidebar-subitem:hover {
    background-color: #ffffff; /* Darker blue for hover effect on subitems */
}

/* Remove text decoration from all links */
a {
    text-decoration: none;
}

/* Content Area */
.content {
    margin-left: 100px; /* Push the content to the right to make space for the sidebar */
    padding: 20px;
    background-color: #ffffff; /* Light background for content area */
    min-height: 100vh;
    flex-grow: 1;
}

/* Arrow for dropdown */
.arrow {
    transition: transform 0.3s ease;
}

.arrow.open {
    transform: rotate(90deg); /* Rotate arrow when dropdown is open */
}

.sidebar-footer {
    padding-bottom: 10px;
    display: flex;
    bottom: -20px;
    right: 10px;
}

.add-button {
    background-color: #00a000;
    color: white;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    font-size: 16px;
}

.fab {
    position: fixed;
    bottom: 50px;
    left: 180px;
    width: 30px;
    height: 30px;
    background-color: #00a000;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}